$breakpoints: (
  mobile: 0px,
  tablet: 600px,
  tablet-large: 765px,
  desktop: 1024px);

@mixin media($keys...) {
  @each $key in $keys {
    @media (min-width: map-get($breakpoints, $key)) {
      @content
    }
  }
}

.app {
  display: block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.font-14 {
  font-size: 14px;
}

.font-tnr {
  font-family: "Times New Roman";
}

.width-100 {
  width: 100%;
}

.space-between {
  justify-content: space-between
}

.pl-12 {
  padding-left: 12px;
}

.align-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.border-box {
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
}